body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    padding-top: 15%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.centerd {
    display: block;
    background-color: beige;
    height: auto; /* Ajuste la hauteur en fonction du contenu */
    text-align: center; /* Centre le texte */
    padding: 50px; /* Padding intérieur */
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1); /* Ombre */
}
#submit{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
table {
    margin: auto; /* Centre le tableau */
    width: 100%; /* Utilise toute la largeur du conteneur */
}
#error{
    display: none;
    color: red;
}

th, td {
    padding: 10px; /* Ajoute un peu d'espace autour des cellules */
}
