body {
    display: flex;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh; /* Utilisation de 100vh pour la hauteur de la fenêtre */
    width: 100%; /* Utilisation de 100% pour la largeur */
    margin: 0;
}

header {
    background-color: beige;
    left: 0;
    top: 0;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 1);
    text-align: center;
    z-index: 10;
}
#Menu{
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
#graphique {
    margin-top: 20px; /* Espace entre le menu et le graphique */
    width: 100%;
    height: 100px;
}
#Menu h1 {
    margin-bottom: 10px; /* Espace sous le titre "MENU" */
}

#Menu a {
    color: black; /* Changer la couleur des liens en noir */
    text-decoration: none; /* Retirer le soulignement des liens */
    display: block; /* Assurer que chaque lien occupe toute la largeur disponible */
    margin: 6px; /* Ajouter un peu d'espace autour des liens */
}

#Menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none; /* Retirer les puces des éléments de la liste */
}

#Menu li {
    padding: px 0; /* Ajouter de l'espace entre les éléments du menu */
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 3px;
}
#Menu li:hover{
    background-color: wheat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#Menu li.active{
    background-color:white ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#Menu li.active:hover{
    background-color:whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body.DarkMode {
    background-color: black;
    color: white;
}

#Menu.DarkMode {
    background-color: darkslategray;
    color: white;
    border-right: 1px solid white;
}

#content {
    flex-grow: 1; /* Fait en sorte que cette div prenne tout l'espace restant */
    height: 100%;
    padding: 20px;
    box-sizing: border-box; /* Inclure le padding dans la taille */
    overflow: auto; /* Gérer le défilement du contenu s'il dépasse */
}

#userdata{
    margin-top: 10px;
    padding: 2%;
    background-color: bisque;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}
#userdata:hover{
    background-color: wheat;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modifyUser > #content{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 100%;
}
.modifyUser{
    width: 100%;
}
.centered {
    display: block;
    background-color: beige;
    height: auto; /* Ajuste la hauteur en fonction du contenu */
    text-align: center; /* Centre le texte */
    padding: 50px; /* Padding intérieur */
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1); /* Ombre */
}
.content{
    margin-left: 5px;
}
#logoutButton{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    border: 0;
}
#logoutButton:hover{
    background-color: whitesmoke;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
#menuButton{
    position:absolute;
    left:5px;
    top:5px;
    z-index:100;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    background-color: bisque;
    border: 0;
    width: 80px;
    border-radius: 20px;
}
#menuButton:hover{
    background-color: wheat;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.7);
}